a:link
        {
            color: blue;
        }

        a:visited
        {
            color: green;
        }

        p:hover
        {
            color: red;
            background-color: yellow;
        }